@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?uw6rtd');
  src:  url('fonts/icomoon.eot?uw6rtd#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?uw6rtd') format('truetype'),
    url('fonts/icomoon.woff?uw6rtd') format('woff'),
    url('fonts/icomoon.svg?uw6rtd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add-to-list:before {
  content: "\e900";
}
.icon-classic-computer:before {
  content: "\e901";
}
.icon-controller-fast-backward:before {
  content: "\e902";
}
.icon-creative-commons-attribution:before {
  content: "\e903";
}
.icon-creative-commons-noderivs:before {
  content: "\e904";
}
.icon-creative-commons-noncommercial-eu:before {
  content: "\e905";
}
.icon-creative-commons-noncommercial-us:before {
  content: "\e906";
}
.icon-creative-commons-public-domain:before {
  content: "\e907";
}
.icon-creative-commons-remix:before {
  content: "\e908";
}
.icon-creative-commons-share:before {
  content: "\e909";
}
.icon-creative-commons-sharealike:before {
  content: "\e90a";
}
.icon-creative-commons:before {
  content: "\e90b";
}
.icon-document-landscape:before {
  content: "\e90c";
}
.icon-remove-user:before {
  content: "\e90d";
}
.icon-warning:before {
  content: "\e90e";
}
.icon-arrow-bold-down:before {
  content: "\e90f";
}
.icon-arrow-bold-left:before {
  content: "\e910";
}
.icon-arrow-bold-right:before {
  content: "\e911";
}
.icon-arrow-bold-up:before {
  content: "\e912";
}
.icon-arrow-down:before {
  content: "\e913";
}
.icon-arrow-left:before {
  content: "\e914";
}
.icon-arrow-long-down:before {
  content: "\e915";
}
.icon-arrow-long-left:before {
  content: "\e916";
}
.icon-arrow-long-right:before {
  content: "\e917";
}
.icon-arrow-long-up:before {
  content: "\e918";
}
.icon-arrow-right:before {
  content: "\e919";
}
.icon-arrow-up:before {
  content: "\e91a";
}
.icon-arrow-with-circle-down:before {
  content: "\e91b";
}
.icon-arrow-with-circle-left:before {
  content: "\e91c";
}
.icon-arrow-with-circle-right:before {
  content: "\e91d";
}
.icon-arrow-with-circle-up:before {
  content: "\e91e";
}
.icon-bookmark:before {
  content: "\e91f";
}
.icon-bookmarks:before {
  content: "\e920";
}
.icon-chevron-down:before {
  content: "\e921";
}
.icon-chevron-left:before {
  content: "\e922";
}
.icon-chevron-right:before {
  content: "\e923";
}
.icon-chevron-small-down:before {
  content: "\e924";
}
.icon-chevron-small-left:before {
  content: "\e925";
}
.icon-chevron-small-right:before {
  content: "\e926";
}
.icon-chevron-small-up:before {
  content: "\e927";
}
.icon-chevron-thin-down:before {
  content: "\e928";
}
.icon-chevron-thin-left:before {
  content: "\e929";
}
.icon-chevron-thin-right:before {
  content: "\e92a";
}
.icon-chevron-thin-up:before {
  content: "\e92b";
}
.icon-chevron-up:before {
  content: "\e92c";
}
.icon-chevron-with-circle-down:before {
  content: "\e92d";
}
.icon-chevron-with-circle-left:before {
  content: "\e92e";
}
.icon-chevron-with-circle-right:before {
  content: "\e92f";
}
.icon-chevron-with-circle-up:before {
  content: "\e930";
}
.icon-cloud:before {
  content: "\e931";
}
.icon-controller-fast-forward:before {
  content: "\e932";
}
.icon-controller-jump-to-start:before {
  content: "\e933";
}
.icon-controller-next:before {
  content: "\e934";
}
.icon-controller-paus:before {
  content: "\e935";
}
.icon-controller-play:before {
  content: "\e936";
}
.icon-controller-record:before {
  content: "\e937";
}
.icon-controller-stop:before {
  content: "\e938";
}
.icon-controller-volume:before {
  content: "\e939";
}
.icon-dot-single:before {
  content: "\e93a";
}
.icon-dots-three-horizontal:before {
  content: "\e93b";
}
.icon-dots-three-vertical:before {
  content: "\e93c";
}
.icon-dots-two-horizontal:before {
  content: "\e93d";
}
.icon-dots-two-vertical:before {
  content: "\e93e";
}
.icon-download:before {
  content: "\e93f";
}
.icon-emoji-flirt:before {
  content: "\e940";
}
.icon-flow-branch:before {
  content: "\e941";
}
.icon-flow-cascade:before {
  content: "\e942";
}
.icon-flow-line:before {
  content: "\e943";
}
.icon-flow-parallel:before {
  content: "\e944";
}
.icon-flow-tree:before {
  content: "\e945";
}
.icon-install:before {
  content: "\e946";
}
.icon-layers:before {
  content: "\e947";
}
.icon-open-book:before {
  content: "\e948";
}
.icon-resize-100:before {
  content: "\e949";
}
.icon-resize-full-screen:before {
  content: "\e94a";
}
.icon-save:before {
  content: "\e94b";
}
.icon-select-arrows:before {
  content: "\e94c";
}
.icon-sound-mute:before {
  content: "\e94d";
}
.icon-uninstall:before {
  content: "\e99d";
}
.icon-upload-to-cloud:before {
  content: "\e99e";
}
.icon-swap:before {
  content: "\e99f";
}
.icon-sweden:before {
  content: "\e9a0";
}
.icon-switch:before {
  content: "\e9a1";
}
.icon-tablet:before {
  content: "\e9a2";
}
.icon-tag:before {
  content: "\e9a3";
}
.icon-text-document-inverted:before {
  content: "\e9a4";
}
.icon-text-document:before {
  content: "\e9a5";
}
.icon-text:before {
  content: "\e9a6";
}
.icon-thermometer:before {
  content: "\e9a7";
}
.icon-thumbs-down:before {
  content: "\e9a8";
}
.icon-thumbs-up:before {
  content: "\e9a9";
}
.icon-thunder-cloud:before {
  content: "\e9aa";
}
.icon-ticket:before {
  content: "\e9ab";
}
.icon-tv:before {
  content: "\e94e";
}
.icon-typing:before {
  content: "\e94f";
}
.icon-unread:before {
  content: "\e950";
}
.icon-untag:before {
  content: "\e951";
}
.icon-user:before {
  content: "\e952";
}
.icon-users:before {
  content: "\e953";
}
.icon-v-card:before {
  content: "\e954";
}
.icon-video:before {
  content: "\e955";
}
.icon-vinyl:before {
  content: "\e956";
}
.icon-voicemail:before {
  content: "\e957";
}
.icon-wallet:before {
  content: "\e958";
}
.icon-water:before {
  content: "\e959";
}
.icon-500px-with-circle:before {
  content: "\e95a";
}
.icon-500px:before {
  content: "\e95b";
}
.icon-basecamp:before {
  content: "\e95c";
}
.icon-behance:before {
  content: "\e95d";
}
.icon-creative-cloud:before {
  content: "\e95e";
}
.icon-dropbox:before {
  content: "\e95f";
}
.icon-evernote:before {
  content: "\e960";
}
.icon-flattr:before {
  content: "\e961";
}
.icon-foursquare:before {
  content: "\e962";
}
.icon-google-drive:before {
  content: "\e963";
}
.icon-google-hangouts:before {
  content: "\e964";
}
.icon-grooveshark:before {
  content: "\e965";
}
.icon-icloud:before {
  content: "\e966";
}
.icon-mixi:before {
  content: "\e967";
}
.icon-onedrive:before {
  content: "\e968";
}
.icon-paypal:before {
  content: "\e969";
}
.icon-picasa:before {
  content: "\e96a";
}
.icon-qq:before {
  content: "\e96b";
}
.icon-rdio-with-circle:before {
  content: "\e96c";
}
.icon-renren:before {
  content: "\e96d";
}
.icon-scribd:before {
  content: "\e96e";
}
.icon-sina-weibo:before {
  content: "\e96f";
}
.icon-skype-with-circle:before {
  content: "\e970";
}
.icon-skype:before {
  content: "\e971";
}
.icon-slideshare:before {
  content: "\e972";
}
.icon-smashing:before {
  content: "\e973";
}
.icon-soundcloud:before {
  content: "\e974";
}
.icon-spotify-with-circle:before {
  content: "\e975";
}
.icon-spotify:before {
  content: "\e976";
}
.icon-swarm:before {
  content: "\e977";
}
.icon-vine-with-circle:before {
  content: "\e978";
}
.icon-vine:before {
  content: "\e979";
}
.icon-vk-alternitive:before {
  content: "\e97a";
}
.icon-vk-with-circle:before {
  content: "\e97b";
}
.icon-vk:before {
  content: "\e97c";
}
.icon-xing-with-circle:before {
  content: "\e97d";
}
.icon-xing:before {
  content: "\e97e";
}
.icon-yelp:before {
  content: "\e97f";
}
.icon-dribbble-with-circle:before {
  content: "\e980";
}
.icon-dribbble:before {
  content: "\e981";
}
.icon-facebook-with-circle:before {
  content: "\e982";
}
.icon-facebook:before {
  content: "\e983";
}
.icon-flickr-with-circle:before {
  content: "\e984";
}
.icon-flickr:before {
  content: "\e985";
}
.icon-github-with-circle:before {
  content: "\e986";
}
.icon-github:before {
  content: "\e987";
}
.icon-google-with-circle:before {
  content: "\e988";
}
.icon-google:before {
  content: "\e989";
}
.icon-instagram-with-circle:before {
  content: "\e98a";
}
.icon-instagram:before {
  content: "\e98b";
}
.icon-lastfm-with-circle:before {
  content: "\e98c";
}
.icon-lastfm:before {
  content: "\e98d";
}
.icon-linkedin-with-circle:before {
  content: "\e98e";
}
.icon-linkedin:before {
  content: "\e98f";
}
.icon-pinterest-with-circle:before {
  content: "\e990";
}
.icon-pinterest:before {
  content: "\e991";
}
.icon-rdio:before {
  content: "\e992";
}
.icon-stumbleupon-with-circle:before {
  content: "\e993";
}
.icon-stumbleupon:before {
  content: "\e994";
}
.icon-tumblr-with-circle:before {
  content: "\e995";
}
.icon-tumblr:before {
  content: "\e996";
}
.icon-twitter-with-circle:before {
  content: "\e997";
}
.icon-twitter:before {
  content: "\e998";
}
.icon-vimeo-with-circle:before {
  content: "\e999";
}
.icon-vimeo:before {
  content: "\e99a";
}
.icon-youtube-with-circle:before {
  content: "\e99b";
}
.icon-youtube:before {
  content: "\e99c";
}
